/* CSS Document */
html{height:100%}
body{
	padding:0;
	margin:0;
	border:0;
	height:100%
}
#outer{
	margin:0px;
	height:100%;
}
#inner{
	width: 70%;
	margin: 0px auto;
	text-align:center;
	background-color:#dfdfdf;
	min-height:100%;
}
h1{
	padding-top:0px;
	margin-top:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
}
div#main {
	
}
.blocks{
	display:inline-block;
	height:35px;
	width:35px;
	border:2px outset #ccc;
	background-image:url(../images/blueDiv.png);
	vertical-align:top; 
}
span{
	color:#000099;
	font-weight:bold;
}
.blocks:hover{
	background-image:url(../images/greenDiv.png);
}
.click{
	background-image:url(../images/greyDiv.png) !important;
}
.hide{
	visibility:hidden;
}
.content{
	color:#999999;
	letter-spacing:2px;
}
.link{
	text-decoration:underline;
	cursor:pointer;
	color:#53ACC6;
	letter-spacing:1px;
}
.noDisplay{
	display:none;
}
a{
	color:#30BC33;
}
a:hover{
	text-decoration:none;
	color:#699D62;
}
